

main {
  overflow: hidden;
  position: static;
}

main p {
  padding-left: 20px;
  font-size: 1.1em;
  text-align: justify;
  width: 95%;
  text-overflow: none;
  white-space: normal;
  overflow: visible;
  position: relative;
}

.em {
  font-style: italic;
}

code {
  font-family: monospace;
  font-size: 1.2em;
  color: blue;
}