

main {
  overflow: hidden;
  position: static;
}

main p {
  font-size: 1.1em;
  text-align: justify;
  width: 95%;
  text-overflow: none;
  white-space: normal;
  overflow: visible;
  position: relative;
}

.em {
  font-style: italic;
}