/*@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic);*/

@import url(https://fonts.googleapis.com/css?family=Lato);

body {
  font-family: "Yu Mincho Semi-Bold";
  letter-spacing: -1px;
  font-size: 1em;
  background: #F1F2F3;
  margin: 0;
}

.upper {
  background: white;
}

.upper img {
  display: block;
  margin: auto;
}

.lower {
  height: 200px;
  /* Safari 4-5, Chrome 1-9 */
  
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#F1F2F3));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, white, #F1F2F3);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, white, #F1F2F3);

  /* IE 10 */
  background: -ms-linear-gradient(top, white, #F1F2F3);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, white, #F1F2F3);
  
  background: linear-gradient(white, #F1F2F3);
  
  background-image: url(../imgs/mountains.png), linear-gradient(white, #F1F2F3);
  background-position: center;
}

nav {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
nav ul {
    background-color: #667885;
    text-align: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

@media screen and (max-width:765px){
  nav li {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    padding-left: 0;
  }
}

nav li {
  font-family: "Lato", sans-serif;
  font-size: 1.3em;
  display: inline-block;
  line-height: 40px;
  height: 40px;
  padding-left: 5px;
  padding-right: 5px;
}

nav a {
  display: block;
  text-decoration:none;
  color: white;
  transition: .3s background-color;
}

nav a:hover {
  background-color: #0096E4;
}
 
nav a:active {
  background-color: #515454;
  color: #FFFFFF;
  cursor: default;
}

.intro {
  width: 80%;
  margin: auto;
  text-align: center;
}

.intro h1 {
  margin-top: 0;
}

.intro p {
  font-size: 1.2em
}

.left {
  width: 50%;
  float: left;
  text-align: center;
  background-color: #F1F2F3;
}

.right {
  width: 50%;
  float: right;
  text-align: center;
  background-color: #F1F2F3;
}

main {
  background-color: #CED2D6;
}

main article {
  width: 200px;
  margin: auto;
}

article a {
  display: block;
  text-decoration:none;
  color: #0096E4;
  transition: .3s background-color;
}

footer {
  background-color: #8C9293;
  clear: both;
  bottom: 0;
  text-align: center;
}

/*#0096E4 blue color used in logo*/