body {
  background-color: #eff6f3;
  font-style: 'Cantarell';
}

header {
  text-align: center;
}

header h1, header a {
  font-family: 'Cantarell';
  color: #6b95bf;
  text-decoration: none;
  font-size: 2.5em;
  letter-spacing: -0.09em;
  line-height: 0.67em;
}

.horse-color {
  color: #3BC094;
}

nav {
  text-align: center;
}

nav ul {
  padding: 0;
}

nav li {
  display: inline-block;
}

nav button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  font-size: 2em;
  color: #3C3C3C;
  letter-spacing: 2px;
  border-bottom: 4px solid #eff6f3;
}

main {
  margin: 0 4em 0 4em;
}

#content-container {
  position: relative;
}

.main-content {
  width: 75%;
  border-radius: 1px;
  margin: auto;
  opacity: 0.95;
  position: relative;
  display: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 40px 0 rgba(0, 0, 0, 0.19);
}

.main-content h2 {
  padding-top: 4px;
  text-align: center;
}

.main-content p {
  padding: 10px 20px 10px 20px;
}

.main-content br {
  line-height: 2;
}

#content-about {
  background-color: #3BC094;
  color: white;
}

#content-work {
  background-color: #6B95BF;
  color: white;
}

#content-contact {
  background-color: #E91E63;
  color: white;
}

.game-link-div {
  margin: auto;
  text-align: center;
}
